
/* Variables --> help to reuse some logic */

:root
{
    --bcolor: orange;
}

body
{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.progress-range
{
    border: 1px solid black;
    width: 100%;
    height: 10px;
    background-color: black;
    border-radius: 10px;
}

.progress-bar
{
    border: 1px solid orange;
    width: 0%;
    height: 10px;
    /* background-color: orange; */
    background-color: var(--bcolor);
    border-radius: 10px;
}


.volume-range
{
    border: 1px solid black;
    width: 150px;
    height: 7px;
    background-color: black;
    border-radius: 10px;
}

.volume-bar
{
    border: 1px solid orange;
    width: 30%;
    height: 7px;
    background-color: var(--bcolor);
    border-radius: 10px;
}

.volume
{
    display: flex;
    align-items: center;
}

.controls-left
{
    display: flex;
}

#play, #volume, #volume-range
{
    margin-left: 15px;
    font-size: 25px;
}

.controls-right
{
    display: flex;
    justify-content: flex-end;
}

.time
{
    display: flex;
}

#myspeed, #time, #fullscreen
{
    margin-left: 15px;
    margin-top: -23px;
}

#play:hover, #volume:hover
{
    color: gray;
    transition: color 1s;
}

video
{
    width: 100%;
    height: 90%;
}



